@import "tailwindcss";

@theme {
  --color-primary: #001F3F;
  --color-accent: #FF4500;
  --color-secondary: #F5F5F5;
  --color-background: #FFFFFF;
  --color-foreground: #333333;

  --font-sans: var(--font-inter), sans-serif;
  --font-heading: var(--font-poppins), sans-serif;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-primary;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #001F3F;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF4500;
}